extends ../layout

block content
  .page-header
    h3 Google Account

  if user.google && user.google.id
    .alert.alert-info.fade.in
      button.close(type='button', data-dismiss='alert')
        i.fa.fa-times-circle-o
      img(src=user.google.picture || user.gravatar(), class='profile-image')
      | You are currently connected to Google as #{user.google.name || user.google.email}.
      br
      a.btn.btn-danger(href='/auth/google/unlink') Unlink your Google account
  else
    .alert.alert-info.fade.in
      button.close(type='button', data-dismiss='alert')
        i.fa.fa-times-circle-o
      | You are not connected to Google.
      br
      a.btn.btn-primary(href='/auth/google/connect')
        i.fa.fa-google
        | Connect your Google account